.filter-panel{
    width: 200px;
}
.se-header{
    margin: 20px 0;
    margin: 20px 0;
    font-weight: bold;
    font-size: 20px;
}

.filter-button {
    padding: 5px;
    width: 150px;
    height: 30px;
    border-radius: 6px;
    background-color : #028299;
    margin: 10px 0;
    cursor: pointer;
}
.my-span{
    display: flex;
}
.my-span > select {
    width: 45px !important;
}